#god{
    padding-right:20px;
}
body{
    background-image: url(back.jpg);
    background-size: 1350px;
  }
  p{
    color:beige;
 }
 #god1{
    background-color: gray;  
}
.button{
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color:gray;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #4e4949}

.button:active {
  background-color: #909090;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}